* {
  box-sizing: border-box; 
}

html {
  height: 100%;
}

a {
  color:blue;
}

a:hover {
  color: red;
}

.shadow {
  box-shadow : 0px 8px 12px rgba(0,0,0,0,2), 0 5px 6px rgba(0,0,0,0,3)
}

.section-container {
}

body {
  font-family: 'Source Sans Pro', sans-serif; 
  background-color :#1C2228;
  color: #f7fff7;
  height: 100%; 
}

.card-theme {
  background: #191f26;
  border:none;
  border-radius: 2px;

}

.card-header {
  color: #eeeeee;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px; 
}

.card-body-theme {
  background-color: #494f56;
}

.cards {
  display: flex;
  flex-direction: column;
}

.section-container {
  padding: 30px;
}